<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2011-12-19-macbook-pro-ssd-optimize.markdown</string>
		</array>
		<array>
			<string>2011-12-24-ios5-tech-talk-michael-jurewitz-on-performance-measurement.markdown</string>
		</array>
		<array>
			<string>2012-02-25-hello-yuanhui-goodbye-yuanhui.markdown</string>
		</array>
		<array>
			<string>2012-02-26-caffeinated.markdown</string>
		</array>
		<array>
			<string>2012-03-30-using-git-versioning-inside-your-xcode-project.markdown</string>
		</array>
		<array>
			<string>2012-04-29-best-practices-for-objective-c-coding.markdown</string>
		</array>
		<array>
			<string>2012-07-02-xcode-targets.markdown</string>
		</array>
		<array>
			<string>2012-08-07-startup-jekyll.md</string>
		</array>
		<array>
			<string>2012-08-10-goodbye-bootstrap.md</string>
		</array>
		<array>
			<string>2012-08-28-fuck-goagent-give-me-bitsnoop.md</string>
		</array>
		<array>
			<string>2012-08-28-use-nsbundle-in-unit-test.md</string>
		</array>
		<array>
			<string>2012-08-30-vim-plugin-syntastic.md</string>
		</array>
		<array>
			<string>2012-09-06-user-interface-design-in-erp-system.md</string>
		</array>
		<array>
			<string>2012-09-10-pip-update-all-egg.md</string>
		</array>
		<array>
			<string>2012-12-02-download-by-route.md</string>
		</array>
		<array>
			<string>2013-01-24-popclip-extension-sortu.md</string>
		</array>
		<array>
			<string>2013-02-28-shadowsocks-on-mac-auto-start.md</string>
		</array>
		<array>
			<string>2013-03-05-mailbox-getting-mail-done.md</string>
		</array>
		<array>
			<string>2013-08-09-vim-74.md</string>
		</array>
		<array>
			<string>2013-09-02-after-openwrt-sysupgrade.md</string>
		</array>
		<array>
			<string>2013-09-02-shairport-for-openwrt-ar71xx.md</string>
		</array>
		<array>
			<string>2013-09-03-xcode-project-file-merge.md</string>
		</array>
		<array>
			<string>2013-09-24-my-book-live-transmission-startup-sh.md</string>
		</array>
		<array>
			<string>2013-09-26-put-transmission-torrent-to-right-place.md</string>
		</array>
		<array>
			<string>2013-12-02-move-hourse-to-digitalocean.md</string>
		</array>
		<array>
			<string>2013-12-02-shairport-new.md</string>
		</array>
		<array>
			<string>2014-05-10-welcome-to-jekyll.markdown</string>
		</array>
		<array>
			<string>2014-05-11-yu-hang.md</string>
		</array>
		<array>
			<string>2014-05-16-shijieyou-video.md</string>
		</array>
		<array>
			<string>2014-06-03-qiugonglue-4.0.0-release.md</string>
		</array>
		<array>
			<string>2014-06-03-review-for-a-Resume.md</string>
		</array>
		<array>
			<string>2014-06-06-something-about-swift.md</string>
		</array>
		<array>
			<string>2014-06-09-WWDC-2014-HD-Videos.md</string>
		</array>
		<array>
			<string>2014-07-10-xocde6-beta3-bug.md</string>
		</array>
		<array>
			<string>2015-02-11-hongbao.md</string>
		</array>
		<array>
			<string>2015-04-10-qiugonglue-iOS-offsers.md</string>
		</array>
	</array>
</dict>
</plist>
